$colorOfMainHeader: #FFFFFF;
$colorOfSilver: #899D9D;
$background: #2C3531;
$backgroundShade: #2C3531;
$colorOfText: #116466;
$primaryWindowColor: #AFEEEE;
$onActiveColor: #437C7E;
$onFocusColor: #699596;
$onHoverColor: #8EAFAF;
$shadeBorder: #0B191A;

