.head {
  margin-top: 600px;
}

.main-content {
  margin-top: 800px;
  padding-left: calc(50% - 400px);
  padding-right: calc(50% - 400px);
//   padding-bottom: 200px;
}

.items {
  display: grid;
  grid-template-columns: 290px 290px 290px;
  grid-template-rows: 150px 150px;
}

.item {
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
}

.a {
  grid-column: 1;
  grid-row: 1;
}

.b {
  grid-column: 2;
  grid-row: 1;
}

.c {
  grid-column: 1;
  grid-row: 2;
}

.d {
  grid-column: 2;
  grid-row: 2;
}

.e {
  grid-column: 3;
  grid-row: 1 / 2;
}

.description {
  display: flex;
  flex-direction: column;
}

.animate__animated.animate__bounce {
  --animate-duration: 0.2s;
}

.gallery {
  padding-left: calc(50% - 400px);
  padding-right: calc(50% - 400px);
}

@keyframes AnimationOnScrollRight {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: translate3d(3000px, 0, 0);
  }

  20% {
    transform: translate3d(-25px, 0, 0);
  }

  40% {
    transform: translate3d(10px, 0, 0);
  }

  60% {
    transform: translate3d(0, 0, 0);
  }

  80% {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.AnimationOnScrollRight {
  animation: bounceInRight 3s;
}