.wrapper {
    background-color: #2C3531;
    width: 100%;
    height: 2000px;
}

/* .feedback-btn {
    background-color: #75E6C8;
    width: 266px;
    height: 60px;
    border-radius: 3px;
}

.feedback-btn:hover {
    color: white;
    font-weight: bold;
} */


.feedback-btn {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #75E6C8 100%);
  border: 0;
  border-radius: 6px;
  /* box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset; */
  box-sizing: border-box;
  color: #2C3531;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  /* transition: box-shadow .15s,transform .15s; */
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  /* will-change: box-shadow,transform; */
  font-size: 18px;
}

/* .feedback-btn:focus {
  box-shadow: #116466 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #116466 0 -3px 0 inset;
} */

.feedback-btn:hover {
  /* box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #116466 0 -3px 0 inset; */
  font-weight: bold;
}

.feedback-btn:active {
  /* box-shadow: #116466 0 3px 7px inset; */
  /* font-weight: bold; */
}