@import './../../utilities/_colors/colors';

.container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 500px; 
    overflow: hidden;
    margin-top: 60px;
}

.videoTag {
    min-width: 100%; 
    min-height: 100%; 
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.overlay-elements {
    background-image: linear-gradient(to bottom right, $colorOfSilver, $background);
    opacity: .83;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    box-sizing: border-box;
    padding: 20% 32px;
    line-height: 1.5;
    text-align: center;
    :last-child { margin-bottom: 0; }

    h1 {font-size: 32pt; font-weight: bold; text-shadow: 0 0 .3em $background; opacity: 1}
    p {font-size: 16pt;text-shadow: 0 0 .3em $background;margin: 1em 0; opacity: 1}
    a {font-size: 16px; line-height: 19px; color: $primaryWindowColor; font-weight: bold; opacity: 1; cursor: pointer}

}


  
  code { font-family: monospace; }
  body { 
    background: $background;
    color: $colorOfMainHeader;
    font-family: 'Oxygen', sans-serif;
  }